.mainPage {
  padding-left: 20px;
  background-color: #F8F9F9; /*#FCF6F5FF; /* #A2A2A1FF; /* #FCF6F5FF; /* ghostwhite;*/
}

.nav-link.active {
  background-color: #0A58CA;
}

.nav-link {
  color: #0A58CA;
}

.navbar-brand {
  font-size: x-large;
}
