.mainPage {
  padding-left: 20px;
  background-color: whitesmoke; /*#FCF6F5FF; /* #A2A2A1FF; /* #FCF6F5FF; /* ghostwhite;*/
}

.nav-link.active {
  background-color: #FFFFFF; /*#0A58CA; */
  color: #9A2617;
}

.nav-link {
  color: #FFFFFF;
}

.navbar {
  background-color: #9A2617;
}

.navbar-brand {
  color: #FFFFFF;
  font-weight: 500;
  font-size: xx-large;
}
