<div class="mainPage">

  <!-- <h4 id="tableLabel">Data Command Center</h4> -->

  <nav class='navbar navbar-expand navbar-light'>
    <a class='navbar-brand'>{{title}}</a>
    <ul class='nav nav-pills'>
      <li class="nav-item"><a class='nav-link' routerLinkActive='active' routerLink='/welcome'>Home</a></li>
      <li class="nav-item"><a class='nav-link' routerLinkActive='active' routerLink='/search'>Search Metadata</a></li>
      <li class="nav-item">
        <div *ngIf="isUserLoggedIn; else isLogOut">
          <a class="nav-link" routerLink="/logout">Logout</a>
        </div>

        <ng-template #isLogOut>
          <a class="nav-link" routerLink="/login">Login</a>
        </ng-template>
      </li>
    </ul>
  </nav>

  <router-outlet></router-outlet>
</div>
