<div class="searchPage">
  <br />
  <div class="container">
    <div class="row">
      <div class="col-6 pr-1">
        <div class="ng-autocomplete" style="width: 100%;">
          <ng-autocomplete [data]="searchResult"
                           [searchKeyword]="keyword"
                           placeholder="Search for an Object..."
                           (selected)='searchSelectEvent($event)'
                           (inputChanged)='searchChangeSearch($event)'
                           [itemTemplate]="itemTemplate"
                           [notFoundTemplate]="notFoundTemplate">
          </ng-autocomplete>

          <ng-template #itemTemplate let-item>
            <a [class]="setClass(item)" [innerHTML]="formatDisplay(item)"></a>
          </ng-template>

          <ng-template #notFoundTemplate let-notFound>
            <div [innerHTML]="notFound"></div>
          </ng-template>
        </div>
      </div>
      <div class="col-6 floatleft align-text-middle" style="padding-left:0px;">
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle optionButton" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i onclick="ShowSearchOptions();" class="fa fa-search-plus fa-lg align-text-middle"></i> Search Options
          </button>
          <div class="dropdown-menu searchOptions" aria-labelledby="dropdownMenuButton">

            <div class="text-center"><b>Search For:</b></div>

            <div class="searchOption">
              <div class="form-check  form-switch">
                <input class="form-check-input" type="radio" (change)="searchOptionChange($event)" [checked]="!searchLineage" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                  Metadata
                </label>
              </div>
              <div class="form-check  form-switch">
                <input class="form-check-input" type="radio" (change)="searchOptionChange($event)" [checked]="searchLineage" name="flexRadioDefault" id="flexRadioDefault2">
                <label class="form-check-label" for="flexRadioDefault2">
                  Lineage Data
                </label>
              </div>
            </div>

            <div class="dropdown-divider"></div>

            <div class="text-center"><b>Search In:</b></div>

            <div class="searchOption">

              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" [disabled]="searchLineage" id="flexSwitchCheckDefault" [checked]='searchSettings.Servers' (change)="searchSettings.Servers = !searchSettings.Servers">
                <label class="form-check-label" for="flexSwitchCheckDefault"><i class="fa fa-server"></i> Servers</label>
              </div>

              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" [disabled]="searchLineage" id="flexSwitchCheckDefault" [checked]='searchSettings.Databases' (change)="searchSettings.Databases = !searchSettings.Databases">
                <label class="form-check-label" for="flexSwitchCheckDefault"><i class="fa fa-database"></i> Databases</label>
              </div>

              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" [checked]='searchSettings.Tables' (change)="searchSettings.Tables = !searchSettings.Tables">
                <label class="form-check-label" for="flexSwitchCheckDefault"><i class="fa fa-table"></i> Tables</label>
              </div>

              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" [checked]='searchSettings.Views' (change)="searchSettings.Views = !searchSettings.Views">
                <label class="form-check-label" for="flexSwitchCheckDefault"><i class="fa fa-table"></i> Views</label>
              </div>

              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" [checked]='searchSettings.ProgrammableObjects' (change)="searchSettings.ProgrammableObjects = !searchSettings.ProgrammableObjects">
                <label class="form-check-label" for="flexSwitchCheckDefault"><i class="fa fa-gear"></i> Programmables</label>
              </div>

              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" [disabled]="searchLineage" id="flexSwitchCheckDefault" [checked]='searchSettings.Columns' (change)="searchSettings.Columns = !searchSettings.Columns">
                <label class="form-check-label" for="flexSwitchCheckDefault"><i class="fa fa-pencil"></i> Columns</label>
              </div>

              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" [disabled]="!searchLineage" id="flexSwitchCheckDefault" [checked]='searchSettings.Integrations' (change)="searchSettings.Integrations = !searchSettings.Integrations">
                <label class="form-check-label" for="flexSwitchCheckDefault"><i class="fa fa-copy"></i> Integrations</label>
              </div>

            </div>

          </div>
        </div>


      </div>

    </div>


  </div>

  <br />
  <div #network class="visNetwork"></div>
</div>


<ng-template #lineageModal let-modal>
  <div class="modal-header text-center">
    <h4 class="modal-title" id="modal-basic-title">{{ lineageRow?.objectType}} {{ lineageRow?.objectName }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">

      <div class="row">
        <div class="col-6 text-end">
          <b>Server:</b>
        </div>
        <div class="col-6 text-start">
          {{  ( (lineageRow != undefined) ? lineageRow.title.split('\n')[0] : "") }}
        </div>
      </div>

      <div class="row">
        <div class="col-6 text-end">
          <b>Database:</b>
        </div>
        <div class="col-6 text-start">
          {{ ( (lineageRow != undefined) ? lineageRow.title.split('\n')[1] : "") }}
        </div>
      </div>

      <div class="row">
        <div class="col-6 text-end">
          <b>Schema:</b>
        </div>
        <div class="col-6 text-start">
          {{ lineageRow?.schemaName }}
        </div>
      </div>

      <div class="row">
        <div class="col-6 text-end">
          <b>Object Type:</b>
        </div>
        <div class="col-6 text-start">
          {{ lineageRow?.objectType }}
        </div>
      </div>

      <div class="row">
        <div class="col-6 text-end">
          <b>Object Name:</b>
        </div>
        <div class="col-6 text-start">
          {{ lineageRow?.objectName }}
        </div>
      </div>

      <div *ngIf="lineageRow?.description != null" class="row">
        <div class="col-6 text-end">
          <b>Description:</b>
        </div>
        <div class="col-6 text-start">
          {{ lineageRow?.description }}
        </div>
      </div>

      <div *ngIf="lineageRow?.rows != null" class="row">
        <div class="col-6 text-end">
          <b>Row Count:</b>
        </div>
        <div class="col-6 text-start">
          {{ lineageRow?.rows }}
        </div>
      </div>

      <div *ngIf="lineageRow?.sizeMb != null" class="row">
        <div class="col-6 text-end">
          <b>Size (MB):</b>
        </div>
        <div class="col-6 text-start">
          {{ lineageRow?.sizeMb }}
        </div>
      </div>

      <div *ngIf="lineageRow?.objectDefinition != null" class="row">
        <div class="col-6 text-end">
          <b>Object Definition:</b>
        </div>
        <div class="col-6 textarea text-start">
          {{ lineageRow?.objectDefinition }}
        </div>
      </div>

    </div>

    <div *ngFor="let item of lineageRow?.metadataDictionary" class="row">
      <div class="col-6 text-end">
        <b>{{ item.key }}:</b>
      </div>
      <div class="col-6 text-start">
        {{ item.value }}
      </div>
    </div>

  </div>
</ng-template>


<ng-template #serverModal let-modal>
  <div class="modal-header text-center">
    <h4 class="modal-title" id="modal-basic-title">Server {{ serverRow?.serverName }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <div class="row">
        <div class="col-6 text-end">
          <b>Server Name:</b>
        </div>
        <div class="col-6 text-start">
          {{ serverRow?.serverName }}
        </div>
      </div>

      <div *ngIf="serverRow?.serverInstance != null && serverRow?.serverInstance != ''" class="row">
        <div class="col-6 text-end">
          <b>Server Instance:</b>
        </div>
        <div class="col-6 text-start">
          {{ serverRow?.serverInstance }}
        </div>
      </div>


      <div class="row">
        <div class="col-6 text-end">
          <b>Server Type:</b>
        </div>
        <div class="col-6 text-start">
          {{ serverRow?.serverType }}
        </div>
      </div>

      <div class="row">
        <div class="col-6 text-end">
          <b>Version:</b>
        </div>
        <div class="col-6 text-start">
          {{ serverRow?.version }}
        </div>
      </div>

      <div *ngFor="let item of serverRow?.metadataDictionary" class="row">
        <div class="col-6 text-end">
          <b>{{ item.key }}:</b>
        </div>
        <div class="col-6 text-start">
          {{ item.value }}
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #databaseModal let-modal>
  <div class="modal-header text-center">
    <h4 class="modal-title" id="modal-basic-title">SQL Database {{ dbRow?.databaseName }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">

      <div class="row">
        <div class="col-6 text-end">
          <b>Server Name:</b>
        </div>
        <div class="col-6 text-start">
          {{ dbRow?.serverName }}
        </div>
      </div>

      <div class="row">
        <div class="col-6 text-end">
          <b>Database Name:</b>
        </div>
        <div class="col-6 text-start">
          {{ dbRow?.databaseName }}
        </div>
      </div>

      <div class="row">
        <div class="col-6 text-end">
          <b>Compatability:</b>
        </div>
        <div class="col-6 text-start">
          {{ dbRow?.compatability }}
        </div>
      </div>

      <div class="row">
        <div class="col-6 text-end">
          <b>Recovery Mode:</b>
        </div>
        <div class="col-6 text-start">
          {{ dbRow?.recovery }}
        </div>
      </div>

      <div class="row">
        <div class="col-6 text-end">
          <b>Created On:</b>
        </div>
        <div class="col-6 text-start">
          {{ dbRow?.createdDatetime }}
        </div>
      </div>

      <div class="row">
        <div class="col-6 text-end">
          <b>Collation:</b>
        </div>
        <div class="col-6 text-start">
          {{ dbRow?.collation }}
        </div>
      </div>

      <div class="row">
        <div class="col-6 text-end">
          <b>Access Mode:</b>
        </div>
        <div class="col-6 text-start">
          {{ dbRow?.access }}
        </div>
      </div>

      <div class="row">
        <div class="col-6 text-end">
          <b>Is Read Only:</b>
        </div>
        <div class="col-6 text-start">
          {{ dbRow?.readOnly }}
        </div>
      </div>

      <div class="row">
        <div class="col-6 text-end">
          <b>Data Size (MB):</b>
        </div>
        <div class="col-6 text-start">
          {{ dbRow?.dataSizeMb }}
        </div>
      </div>

      <div class="row">
        <div class="col-6 text-end">
          <b>Log Size (MB):</b>
        </div>
        <div class="col-6 text-start">
          {{ dbRow?.logSizeMb }}
        </div>
      </div>

      <div class="row">
        <div class="col-6 text-end">
          <b>Description:</b>
        </div>
        <div class="col-6 text-start">
          {{ dbRow?.description }}
        </div>
      </div>

      <div *ngFor="let item of dbRow?.metadataDictionary" class="row">
        <div class="col-6 text-end">
          <b>{{ item.key }}:</b>
        </div>
        <div class="col-6 text-start">
          {{ item.value }}
        </div>
      </div>

    </div>
  </div>
</ng-template>

<ng-template #intModal let-modal>
  <div class="modal-header text-center">
    <h4 class="modal-title" id="modal-basic-title">Integration {{ intRow?.name }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">

      <div class="row">
        <div class="col-6 text-end">
          <b>Integration Name:</b>
        </div>
        <div class="col-6 text-start">
          {{ intRow?.name }}
        </div>
      </div>

      <div class="row">
        <div class="col-6 text-end">
          <b>Integration Type:</b>
        </div>
        <div class="col-6 text-start">
          {{ intRow?.integrationType }}
        </div>
      </div>

      <div class="row">
        <div class="col-6 text-end">
          <b>Path:</b>
        </div>
        <div class="col-6 text-start">
          {{ intRow?.path }}
        </div>
      </div>

      <div class="row">
        <div class="col-6 text-end">
          <b>Description:</b>
        </div>
        <div class="col-6 text-start">
          {{ intRow?.description }}
        </div>
      </div>

      <div class="row">
        <div class="col-6 text-end">
          <b>Craeted:</b>
        </div>
        <div class="col-6 text-start">
          {{ intRow?.created }}
        </div>
      </div>

      <div class="row">
        <div class="col-6 text-end">
          <b>Modified:</b>
        </div>
        <div class="col-6 text-start">
          {{ intRow?.lastModified }}
        </div>
      </div>

      <div *ngFor="let item of intRow?.metadataDictionary" class="row">
        <div class="col-6 text-end">
          <b>{{ item.key }}:</b>
        </div>
        <div class="col-6 text-start">
          {{ item.value }}
        </div>
      </div>

    </div>
  </div>
</ng-template>


<ng-template #objectModal let-modal>
  <div class="modal-header text-center">
    <h4 class="modal-title" id="modal-basic-title">{{ objRow?.objectName }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">


      <div class="row">
        <div class="col-6 text-end">
          <b>Server Name:</b>
        </div>
        <div class="col-6 text-start">
          {{ objRow?.serverName }}
        </div>
      </div>

      <div class="row">
        <div class="col-6 text-end">
          <b>Database Name:</b>
        </div>
        <div class="col-6 text-start">
          {{ objRow?.databaseName }}
        </div>
      </div>

      <div class="row">
        <div class="col-6 text-end">
          <b>Object Name:</b>
        </div>
        <div class="col-6 text-start">
          {{ objRow?.objectName }}
        </div>
      </div>

      <div class="row">
        <div class="col-6 text-end">
          <b>Schema:</b>
        </div>
        <div class="col-6 text-start">
          {{ objRow?.schemaName }}
        </div>
      </div>

      <div class="row">
        <div class="col-6 text-end">
          <b>Object Type:</b>
        </div>
        <div class="col-6 text-start">
          {{ objRow?.objectType }}
        </div>
      </div>

      <div class="row">
        <div class="col-6 text-end">
          <b>Object Name:</b>
        </div>
        <div class="col-6 text-start">
          {{ objRow?.objectName }}
        </div>
      </div>

      <div *ngIf="objRow?.description != null" class="row">
        <div class="col-6 text-end">
          <b>Description:</b>
        </div>
        <div class="col-6 text-start">
          {{ objRow?.description }}
        </div>
      </div>

      <div *ngIf="objRow?.rows != null" class="row">
        <div class="col-6 text-end">
          <b>Row Count:</b>
        </div>
        <div class="col-6 text-start">
          {{ objRow?.rows }}
        </div>
      </div>

      <div *ngIf="objRow?.sizeMb != null" class="row">
        <div class="col-6 text-end">
          <b>Size (MB):</b>
        </div>
        <div class="col-6 text-start">
          {{ objRow?.sizeMb }}
        </div>
      </div>

      <div *ngIf="objRow?.objectDefinition != null" class="row">
        <div class="col-6 text-end">
          <b>Object Definition:</b>
        </div>
        <div class="col-6 textarea text-start">
          {{ objRow?.objectDefinition }}
        </div>
      </div>


      <div *ngFor="let item of objRow?.metadataDictionary" class="row">
        <div class="col-6 text-end">
          <b>{{ item.key }}:</b>
        </div>
        <div class="col-6 text-start">
          {{ item.value }}
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #columnModal let-modal>
  <div class="modal-header text-center">
    <h4 class="modal-title" id="modal-basic-title">SQL Column {{ colRow?.columnName }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">

      <div class="row">
        <div class="col-6 text-end">
          <b>Server Name:</b>
        </div>
        <div class="col-6 text-start">
          {{ colRow?.serverName }}
        </div>
      </div>

      <div class="row">
        <div class="col-6 text-end">
          <b>Database Name:</b>
        </div>
        <div class="col-6 text-start">
          {{ colRow?.databaseName }}
        </div>
      </div>

      <div class="row">
        <div class="col-6 text-end">
          <b>Object Name:</b>
        </div>
        <div class="col-6 text-start">
          {{ colRow?.objectName }}
        </div>
      </div>

      <div class="row">
        <div class="col-6 text-end">
          <b>Column Name:</b>
        </div>
        <div class="col-6 text-start">
          {{ colRow?.columnName }}
        </div>
      </div>

      <div class="row">
        <div class="col-6 text-end">
          <b>Data Type:</b>
        </div>
        <div class="col-6 text-start">
          {{ colRow?.dataType }}
        </div>
      </div>

      <div class="row">
        <div class="col-6 text-end">
          <b>Length:</b>
        </div>
        <div class="col-6 text-start">
          {{ colRow?.maxLength }}
        </div>
      </div>

      <div class="row">
        <div class="col-6 text-end">
          <b>Precision:</b>
        </div>
        <div class="col-6 text-start">
          {{ colRow?.precision }}
        </div>
      </div>

      <div class="row">
        <div class="col-6 text-end">
          <b>Scale:</b>
        </div>
        <div class="col-6 text-start">
          {{ colRow?.scale }}
        </div>
      </div>

      <div class="row">
        <div class="col-6 text-end">
          <b>Nullable:</b>
        </div>
        <div class="col-6 text-start">
          {{ colRow?.nullable }}
        </div>
      </div>

      <div class="row">
        <div class="col-6 text-end">
          <b>Is Primary Key:</b>
        </div>
        <div class="col-6 text-start">
          {{ colRow?.primaryKey }}
        </div>
      </div>

      <div class="row">
        <div class="col-6 text-end">
          <b>Description:</b>
        </div>
        <div class="col-6 text-start">
          {{ colRow?.description }}
        </div>
      </div>

      <div *ngFor="let item of colRow?.metadataDictionary" class="row">
        <div class="col-6 text-end">
          <b>{{ item.key }}:</b>
        </div>
        <div class="col-6 text-start">
          {{ item.value }}
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #integrationModal let-modal>
  <div class="modal-header text-center">
    <h4 class="modal-title" id="modal-basic-title">Integration {{ flowRow?.integration?.name }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">

      <div class="row">
        <div class="col-6 text-end">
          <b>Integration Name:</b>
        </div>
        <div class="col-6 text-start">
          {{ flowRow?.integration?.name }}
        </div>
      </div>

      <div class="row">
        <div class="col-6 text-end">
          <b>Integration Type:</b>
        </div>
        <div class="col-6 text-start">
          {{ flowRow?.integration?.integrationType }}
        </div>
      </div>

      <div class="row">
        <div class="col-6 text-end">
          <b>Path:</b>
        </div>
        <div class="col-6 text-start">
          {{ flowRow?.integration?.path }}
        </div>
      </div>

      <div class="row">
        <div class="col-6 text-end">
          <b>Description:</b>
        </div>
        <div class="col-6 text-start">
          {{ flowRow?.integration?.description }}
        </div>
      </div>

      <div class="row">
        <div class="col-6 text-end">
          <b>Created Date:</b>
        </div>
        <div class="col-6 text-start">
          {{ flowRow?.integration?.created }}
        </div>
      </div>

      <div class="row">
        <div class="col-6 text-end">
          <b>Modified Date:</b>
        </div>
        <div class="col-6 text-start">
          {{ flowRow?.integration?.lastModified }}
        </div>
      </div>

      <div *ngFor="let item of flowRow?.integration?.metadataDictionary" class="row">
        <div class="col-6 text-end">
          <b>{{ item.key }}:</b>
        </div>
        <div class="col-6 text-start">
          {{ item.value }}
        </div>
      </div>
    </div>
  </div>
</ng-template>



<div style="visibility: hidden">
  <div #popupIntegration class="container popBox">

    <div class="row">
      <div class="col-6 text-end">
        <b>Integration Name:</b>
      </div>
      <div class="col-6 text-start">
        {{ flowRow?.integration?.name }}
      </div>
    </div>

    <div class="row">
      <div class="col-6 text-end">
        <b>Integration Type:</b>
      </div>
      <div class="col-6 text-start">
        {{ flowRow?.integration?.integrationType }}
      </div>
    </div>

    <div class="row">
      <div class="col-6 text-end">
        <b>Path:</b>
      </div>
      <div class="col-6 text-start">
        {{ flowRow?.integration?.path }}
      </div>
    </div>

    <div class="row">
      <div class="col-6 text-end">
        <b>Description:</b>
      </div>
      <div class="col-6 text-start">
        {{ flowRow?.integration?.description }}
      </div>
    </div>

    <div class="row">
      <div class="col-6 text-end">
        <b>Created Date:</b>
      </div>
      <div class="col-6 text-start">
        {{ flowRow?.integration?.created }}
      </div>
    </div>

    <div class="row">
      <div class="col-6 text-end">
        <b>Modified Date:</b>
      </div>
      <div class="col-6 text-start">
        {{ flowRow?.integration?.lastModified }}
      </div>
    </div>
  </div>

  <div style="visibility: hidden">
    <div #popupInt class="container popBox">

      <div class="row">
        <div class="col-6 text-end">
          <b>Integration Name:</b>
        </div>
        <div class="col-6 text-start">
          {{ intRow?.name }}
        </div>
      </div>

      <div class="row">
        <div class="col-6 text-end">
          <b>Integration Type:</b>
        </div>
        <div class="col-6 text-start">
          {{ intRow?.integrationType }}
        </div>
      </div>

      <div class="row">
        <div class="col-6 text-end">
          <b>Path:</b>
        </div>
        <div class="col-6 text-start">
          {{ intRow?.path }}
        </div>
      </div>

      <div class="row">
        <div class="col-6 text-end">
          <b>Description:</b>
        </div>
        <div class="col-6 text-start">
          {{ intRow?.description }}
        </div>
      </div>

      <div class="row">
        <div class="col-6 text-end">
          <b>Created Date:</b>
        </div>
        <div class="col-6 text-start">
          {{ intRow?.created }}
        </div>
      </div>

      <div class="row">
        <div class="col-6 text-end">
          <b>Modified Date:</b>
        </div>
        <div class="col-6 text-start">
          {{ intRow?.lastModified }}
        </div>
      </div>
    </div>

    <div #popupServer class="container popBox">
      <div class="row">
        <div class="col-6 text-end">
          <b>Server Name:</b>
        </div>
        <div class="col-6 text-start">
          {{ serverRow?.serverName }}
        </div>
      </div>

      <div *ngIf="serverRow?.serverInstance != null && serverRow?.serverInstance != ''" class="row">
        <div class="col-6 text-end">
          <b>Server Instance:</b>
        </div>
        <div class="col-6 text-start">
          {{ serverRow?.serverInstance }}
        </div>
      </div>


      <div class="row">
        <div class="col-6 text-end">
          <b>Server Type:</b>
        </div>
        <div class="col-6 text-start">
          {{ serverRow?.serverType }}
        </div>
      </div>

      <div class="row">
        <div class="col-6 text-end">
          <b>Version:</b>
        </div>
        <div class="col-6 text-start">
          {{ serverRow?.version }}
        </div>
      </div>
    </div>
    <div #popupDatabase class="container popBox">
      <div class="row">
        <div class="col-6 text-end">
          <b>Server Name:</b>
        </div>
        <div class="col-6 text-start">
          {{ dbRow?.serverName }}
        </div>
      </div>

      <div class="row">
        <div class="col-6 text-end">
          <b>Database Name:</b>
        </div>
        <div class="col-6 text-start">
          {{ dbRow?.databaseName }}
        </div>
      </div>

      <div class="row">
        <div class="col-6 text-end">
          <b>Compatability:</b>
        </div>
        <div class="col-6 text-start">
          {{ dbRow?.compatability }}
        </div>
      </div>

      <div class="row">
        <div class="col-6 text-end">
          <b>Recovery Mode:</b>
        </div>
        <div class="col-6 text-start">
          {{ dbRow?.recovery }}
        </div>
      </div>

      <div class="row">
        <div class="col-6 text-end">
          <b>Created On:</b>
        </div>
        <div class="col-6 text-start">
          {{ dbRow?.createdDatetime }}
        </div>
      </div>

      <div class="row">
        <div class="col-6 text-end">
          <b>Collation:</b>
        </div>
        <div class="col-6 text-start">
          {{ dbRow?.collation }}
        </div>
      </div>

      <div class="row">
        <div class="col-6 text-end">
          <b>Access Mode:</b>
        </div>
        <div class="col-6 text-start">
          {{ dbRow?.access }}
        </div>
      </div>

      <div class="row">
        <div class="col-6 text-end">
          <b>Is Read Only:</b>
        </div>
        <div class="col-6 text-start">
          {{ dbRow?.readOnly }}
        </div>
      </div>

      <div class="row">
        <div class="col-6 text-end">
          <b>Data Size (MB):</b>
        </div>
        <div class="col-6 text-start">
          {{ dbRow?.dataSizeMb }}
        </div>
      </div>

      <div class="row">
        <div class="col-6 text-end">
          <b>Log Size (MB):</b>
        </div>
        <div class="col-6 text-start">
          {{ dbRow?.logSizeMb }}
        </div>
      </div>

      <div class="row">
        <div class="col-6 text-end">
          <b>Description:</b>
        </div>
        <div class="col-6 text-start">
          {{ dbRow?.description }}
        </div>
      </div>
    </div>
    <div #popupObject class="container popBox">
      <div class="row">
        <div class="col-6 text-end">
          <b>Server Name:</b>
        </div>
        <div class="col-6 text-start">
          {{ objRow?.serverName }}
        </div>
      </div>

      <div class="row">
        <div class="col-6 text-end">
          <b>Database Name:</b>
        </div>
        <div class="col-6 text-start">
          {{ objRow?.databaseName }}
        </div>
      </div>

      <div class="row">
        <div class="col-6 text-end">
          <b>Object Name:</b>
        </div>
        <div class="col-6 text-start">
          {{ objRow?.objectName }}
        </div>
      </div>

      <div class="row">
        <div class="col-6 text-end">
          <b>Schema:</b>
        </div>
        <div class="col-6 text-start">
          {{ objRow?.schemaName }}
        </div>
      </div>

      <div class="row">
        <div class="col-6 text-end">
          <b>Object Type:</b>
        </div>
        <div class="col-6 text-start">
          {{ objRow?.objectType }}
        </div>
      </div>

      <div class="row">
        <div class="col-6 text-end">
          <b>Object Name:</b>
        </div>
        <div class="col-6 text-start">
          {{ objRow?.objectName }}
        </div>
      </div>

      <div *ngIf="objRow?.description != null" class="row">
        <div class="col-6 text-end">
          <b>Description:</b>
        </div>
        <div class="col-6 text-start">
          {{ objRow?.description }}
        </div>
      </div>

      <div *ngIf="objRow?.rows != null" class="row">
        <div class="col-6 text-end">
          <b>Row Count:</b>
        </div>
        <div class="col-6 text-start">
          {{ objRow?.rows }}
        </div>
      </div>

      <div *ngIf="objRow?.sizeMb != null" class="row">
        <div class="col-6 text-end">
          <b>Size (MB):</b>
        </div>
        <div class="col-6 text-start">
          {{ objRow?.sizeMb }}
        </div>
      </div>
    </div>

    <div #popupColumn class="container popBox">
      <div class="row">
        <div class="col-6 text-end">
          <b>Server Name:</b>
        </div>
        <div class="col-6 text-start">
          {{ colRow?.serverName }}
        </div>
      </div>

      <div class="row">
        <div class="col-6 text-end">
          <b>Database Name:</b>
        </div>
        <div class="col-6 text-start">
          {{ colRow?.databaseName }}
        </div>
      </div>

      <div class="row">
        <div class="col-6 text-end">
          <b>Object Name:</b>
        </div>
        <div class="col-6 text-start">
          {{ colRow?.objectName }}
        </div>
      </div>

      <div class="row">
        <div class="col-6 text-end">
          <b>Column Name:</b>
        </div>
        <div class="col-6 text-start">
          {{ colRow?.columnName }}
        </div>
      </div>

      <div class="row">
        <div class="col-6 text-end">
          <b>Data Type:</b>
        </div>
        <div class="col-6 text-start">
          {{ colRow?.dataType }}
        </div>
      </div>

      <div class="row">
        <div class="col-6 text-end">
          <b>Length:</b>
        </div>
        <div class="col-6 text-start">
          {{ colRow?.maxLength }}
        </div>
      </div>

      <div class="row">
        <div class="col-6 text-end">
          <b>Precision:</b>
        </div>
        <div class="col-6 text-start">
          {{ colRow?.precision }}
        </div>
      </div>

      <div class="row">
        <div class="col-6 text-end">
          <b>Scale:</b>
        </div>
        <div class="col-6 text-start">
          {{ colRow?.scale }}
        </div>
      </div>

      <div class="row">
        <div class="col-6 text-end">
          <b>Nullable:</b>
        </div>
        <div class="col-6 text-start">
          {{ colRow?.nullable }}
        </div>
      </div>

      <div class="row">
        <div class="col-6 text-end">
          <b>Is Primary Key:</b>
        </div>
        <div class="col-6 text-start">
          {{ colRow?.primaryKey }}
        </div>
      </div>

      <div class="row">
        <div class="col-6 text-end">
          <b>Description:</b>
        </div>
        <div class="col-6 text-start">
          {{ colRow?.description }}
        </div>
      </div>
    </div>

    <div #popupTable class="container popBox">
      <div class="row">
        <div class="col-6 text-end">
          <b>Server:</b>
        </div>
        <div class="col-6 text-start">
          {{  ( (lineageRow != undefined) ? lineageRow.title.split('\n')[0] : "") }}
        </div>
      </div>

      <div class="row">
        <div class="col-6 text-end">
          <b>Database:</b>
        </div>
        <div class="col-6 text-start">
          {{ ( (lineageRow != undefined) ? lineageRow.title.split('\n')[1] : "") }}
        </div>
      </div>

      <div class="row">
        <div class="col-6 text-end">
          <b>Schema:</b>
        </div>
        <div class="col-6 text-start">
          {{ lineageRow?.schemaName }}
        </div>
      </div>

      <div class="row">
        <div class="col-6 text-end">
          <b>Object Type:</b>
        </div>
        <div class="col-6 text-start">
          {{ lineageRow?.objectType }}
        </div>
      </div>

      <div class="row">
        <div class="col-6 text-end">
          <b>Object Name:</b>
        </div>
        <div class="col-6 text-start">
          {{ lineageRow?.objectName }}
        </div>
      </div>

      <div *ngIf="lineageRow?.description != null" class="row">
        <div class="col-6 text-end">
          <b>Description:</b>
        </div>
        <div class="col-6 text-start">
          {{ lineageRow?.description }}
        </div>
      </div>

      <div *ngIf="lineageRow?.rows != null" class="row">
        <div class="col-6 text-end">
          <b>Row Count:</b>
        </div>
        <div class="col-6 text-start">
          {{ lineageRow?.rows }}
        </div>
      </div>

      <div *ngIf="lineageRow?.sizeMb != null" class="row">
        <div class="col-6 text-end">
          <b>Size (MB):</b>
        </div>
        <div class="col-6 text-start">
          {{ lineageRow?.sizeMb }}
        </div>
      </div>
    </div>
  </div>
