.optionButton {
  background-color: #337ab7;
  border-color: #2e6da4;
}
/* whitesmoke; floralwhite;*/
.searchOptions {
  background-color: #FCF6F5FF; /*floralwhite;*/
  color: #333333;
}

.searchPage {
  padding-left: 5vw;
  width: 95VW;
}

.searchOption {
  padding-left: 10px;
  padding-right: 10px;
}

.visNetwork {
  width: 80vw;
  height: 80vh;
  border: 1px solid lightgray;
  background-color: floralwhite; /*floralwhite; */
}

.textarea {
  height: 200px;
  overflow-y: scroll;
}

/*.popModal {
  background-color: aqua;
  position: absolute !important;
  left: 50px;
  top: 50px;
}*/

.popBox {
  //background-color: azure;
  width: 500px;
}
