<div class="welcomePage">
  <br /><br />
        <div class="container box">
          <H1 class="welcomeHeader">Welcome to the Data Command Center!</H1>

          <p>
            The Data Command Center (DCC) combines database, integration, lineage, and metdata about any data environment into a single searchable resource.
          </p>

          <p>
            There are two display views available: Metadata, which displays the item you select in the environment of it's surroundings, and Lineage, which shows both upstream and downstream objects in the lineage (data population) of the chosen object.
          </p>

          <p>
            You can search for any server, database, object (table, view, stored procedure, fuction, trigger, etc.), column, or integration.  Drop down the Search Options menu next to the search box to refine search criteria and choose Metadata or Lineage search.
          </p>

          Navigating the search canvas is easy and fun:
          <ul clas="list-group">
            <li class="list-item">
              Zoom in and out using the scroll wheel on your mouse.
            </li>

            <li class="list-item">
              Hover over an item for a tooltip with some additional info about it.
            </li>

            <li class="list-item">
              Click on an item to highlight its relationships.
            </li>

            <li class="list-item">
              Then right-click for a detailed popup including all metadata (which can be edited by select users).
            </li>

            <li class="list-item">
              Double-click on an item to re-populate the graph with that item as the selected item/center.
            </li>
          </ul>

          <p>
            Database metadata and lineage data is automatically populated by our custom crawler engines, which automatically populate all of the base information.  Users from IT and Data Governance can then add/edit the user maintained metdata sections, choosing either from a pre-defined template of properties, or even adding new properties for specific objects as needed.
          </p>

          <p>
            Have questions or comments? <b><a href='mailto: djl.consulting@outlook.com'>Email us</a> &nbsp;<a href='mailto: djl.consulting@outlook.com'><i class="fa fa-envelope"></i></a></b>
</p>

        </div>
</div>
