.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.login {
  background-color: floralwhite;
  width: 25vw;
  border: groove 3px #0A58CA;
}

.loginPage {
    height: 90vh;
}

input {
  margin-bottom: 20px;
}
